# List in Python

In [96]:
list1 = [3,4,5,9,10,12,24]    
sum = 0    
for i in list1:    
    sum = sum+i        
print("The sum is:",sum)

The sum is: 67

In [90]:
list = [1,2,3,4,5,6,7]    
print(list[0])    
print(list[1])    
print(list[2])    
print(list[3])    
# Slicing the elements    
print(list[0:6])    
# By default, the index value is 0 so its starts from the 0th element and go for index -1.    
print(list[:])    
print(list[2:5])    
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [91]:
list = [1,2,3,4,5]    
print(list[-1])    
print(list[-3:])    
print(list[:-1])    
print(list[-3:-1])

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

In [92]:
list = [1, 2, 3, 4, 5, 6]       
print(list)       
# It will assign value to the value to the second index     
list[2] = 10     
print(list)      
# Adding multiple-element     
list[1:3] = [89, 78]       
print(list)     
# It will add value at the end of the list    
list[-1] = 25    
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

In [ ]:
List = [10,3,12,22,64,352,55,6,10,3,2,1]
res = sort(List)
print(res)

In [94]:
L = [15,3,10,25,15,10,5,18,33,50]
##pop(index)
print(L.pop())
L

50

[15, 3, 10, 25, 15, 10, 5, 18, 33]

In [93]:
list1 = [12, 14, 16, 18, 20]  
# repetition operator *  
l = list1 * 2  
print(l)

[12, 14, 16, 18, 20, 12, 14, 16, 18, 20]

Append Item

In [ ]:
##append item
L.append(100)
L
sort(L)

In [23]:
LL =[]

for x in range(1,50):
    if x%2==0:
        LL.append(x)
print(LL)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
item = ["apple","banana","mango","jack fruite"]
print(item)

In [87]:
currencies = ['Dollar', 'Euro', 'Pound']

# append 'Yen' to the list
currencies.append('Yen')

print(currencies)

# Output: ['Dollar', 'Euro', 'Pound', 'Yen']

['Dollar', 'Euro', 'Pound', 'Yen']

In [88]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# Add 'guinea pig' to the list
animals.append('guinea pig')

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', 'guinea pig']

In [89]:
# animals list
animals = ['cat', 'dog', 'rabbit']

# list of wild animals
wild_animals = ['tiger', 'fox']

# appending wild_animals list to animals
animals.append(wild_animals)

print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

Access items in the list

In [15]:
print(item[2])
print(item[3])
print(item[1])
print(item[0])

NameError: name 'item' is not defined

In [16]:
fibb_number = [0,1,1,2,3,5,8,13,21,34,56,90]
print(fibb_number[-1])
print(fibb_number[:-1])
print(fibb_number[0:])
print(fibb_number[2:8])
print(fibb_number[-9:-2])
print(fibb_number[-4:])

90
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 56]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 56, 90]
[1, 2, 3, 5, 8, 13]
[2, 3, 5, 8, 13, 21, 34]
[21, 34, 56, 90]

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Change Item Value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

Append Items

In [13]:
nos = [2,4,6,10,12,235,11,352,154,33]
nos.append(20)
nos.append(15)
nos.append(250)
print(nos)

[2, 4, 6, 10, 12, 235, 11, 352, 154, 33, 20, 15, 250]

Insert Items

In [78]:
insrt = []
insrt.insert(1,10)
insrt.insert(0,8)
insrt.insert(2,11)
insrt.insert(5,55)
insrt.insert(3,40)
insrt.insert(4,100.254)
print(insrt)

[8, 10, 11, 40, 100.254, 55]

In [77]:
# create a list of vowels
vowel = ['a', 'e', 'i', 'u']

# 'o' is inserted at index 3 (4th position)
vowel.insert(3, 'o')

print('List:', vowel)

# Output: List: ['a', 'e', 'i', 'o', 'u']

List: ['a', 'e', 'i', 'o', 'u']

In [82]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# insert 11 at index 4
prime_numbers.insert(4, 11)

print('List:', prime_numbers)

List: [2, 3, 5, 7, 11]

In [83]:
mixed_list = [{1, 2}, [5, 6, 7]]

# number tuple
number_tuple = (3, 4)

# inserting a tuple to the list
mixed_list.insert(1, number_tuple)


print('Updated List:', mixed_list)

Updated List: [{1, 2}, (3, 4), [5, 6, 7]]

In [79]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [80]:
num = [nos]*2
print(num)

[[2, 4, 6, 10, 12, 235, 11, 352, 154, 33, 20, 15, 250], [2, 4, 6, 10, 12, 235, 11, 352, 154, 33, 20, 15, 250]]

In [ ]:
empl = [1,-1,4,3,10,5,12,15,9]
tmp = [1,2,3,4,5,6,7,8]
empl.extend(tmp)
print(empl)

In [84]:
# create a list
prime_numbers = [2, 3, 5]

# create another list
numbers = [1, 4]

# add all elements of prime_numbers to numbers
numbers.extend(prime_numbers)


print('List after extend():', numbers)

# Output: List after extend(): [1, 4, 2, 3, 5]

List after extend(): [1, 4, 2, 3, 5]

In [85]:
# languages list
languages = ['French', 'English']

# another list of language
languages1 = ['Spanish', 'Portuguese']

# appending language1 elements to language
languages.extend(languages1)


print('Languages List:', languages)

Languages List: ['French', 'English', 'Spanish', 'Portuguese']

In [86]:
# languages list
languages = ['French']

# languages tuple
languages_tuple = ('Spanish', 'Portuguese')

# languages set
languages_set = {'Chinese', 'Japanese'}

# appending language_tuple elements to language
languages.extend(languages_tuple)


print('New Language List:', languages)

# appending language_set elements to language
languages.extend(languages_set)


print('Newer Languages List:', languages)

New Language List: ['French', 'Spanish', 'Portuguese']
Newer Languages List: ['French', 'Spanish', 'Portuguese', 'Japanese', 'Chinese']

Remove Specified Item - remove("specified item")

In [ ]:
how = ["apple", "banana", "cherry","Guava"]

how.remove("banana")

print(how)

In [1]:
my_arr = [1,2,3,3,6,10,10,12,22,55,64,352]
my_arr.remove(64)
my_arr

[1, 2, 3, 3, 6, 10, 10, 12, 22, 55, 64]

In [2]:
mobile = [10,3,6,74,35,95,15,81,63,22,15,91,22,1]
mobile.remove(1)
mobile

[10, 3, 74, 35, 95, 15, 81, 63, 22, 15, 91, 22, 1]

The del keyword also removes the specified index:

In [5]:
listt = ["apple", "banana", "cherry"]
del listt[0]
print(listt)

['apple']

In [11]:
mobile = [10,3,6,74,35,95,15,81,63,22,15,91,22,1]
mobile.sort()
del mobile
#this will cause an error because you have succsesfully deleted "thislist".
mobile

NameError: name 'mobile' is not defined

In [18]:
mob = [2, 3, 5, 8, 13, 21, 34]
del mob[:-2]
mob

[21, 34]


Clear the List

In [19]:
mohjong = [2, 3, 5, 8, 13, 21, 34]
mohjong

[2, 3, 5, 8, 13, 21, 34]

In [20]:
#clear the list 
mohjong.clear()
mohjong

[]

In [21]:
listt = ["apple", "banana", "cherry"]
listt.clear()
listt

[]

Pop up item - pop(specified index)

In [ ]:
my_arr = [1,2,3,3,6,10,10,12,22,55,64,352]
my_arr.pop(-1)
my_arr

In [ ]:
mobile = [10,3,6,74,35,95,15,81,63,22,15,91,22,1]
mobile.pop(2)
mobile

In [74]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# remove the element at index 2
removed_element = prime_numbers.pop(2)

print('Removed Element:', removed_element)
print('Updated List:', prime_numbers)

# Output: 
# Removed Element: 5
# Updated List: [2, 3, 7]

Removed Element: 5
Updated List: [2, 3, 7]

In [25]:
print(LL)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [75]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'French', 'C']

# remove and return the 4th item
return_value = languages.pop(3)

print('Return Value:', return_value)

# Updated List
print('Updated List:', languages)

Return Value: French
Updated List: ['Python', 'Java', 'C++', 'C']

In [76]:
# programming languages list
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']

# remove and return the last item
print('When index is not passed:') 
print('Return Value:', languages.pop())

print('Updated List:', languages)

# remove and return the last item
print('\nWhen -1 is passed:') 
print('Return Value:', languages.pop(-1))

print('Updated List:', languages)

# remove and return the third last item
print('\nWhen -3 is passed:') 
print('Return Value:', languages.pop(-3))

print('Updated List:', languages)

When index is not passed:
Return Value: C
Updated List: ['Python', 'Java', 'C++', 'Ruby']

When -1 is passed:
Return Value: Ruby
Updated List: ['Python', 'Java', 'C++']

When -3 is passed:
Return Value: Python
Updated List: ['Java', 'C++']

In [31]:
LL.pop(-10)
LL.pop(-1)
print(LL)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 24, 32, 34, 36, 38, 40, 42, 44]

In [38]:
res=LL[16:4:-1]
print(res)

[42, 40, 38, 36, 34, 32, 24, 20, 18, 16, 14, 12]

In [39]:
res[10:1:-1]
res

[42, 40, 38, 36, 34, 32, 24, 20, 18, 16, 14, 12]

reverse a list

In [32]:
fruits = ['coconut', 'banana', 'cherry']

fruits.reverse()
fruits

['cherry', 'banana', 'coconut']

In [40]:
fruits

['cherry', 'banana', 'coconut']

In [45]:
fruits[3:1:-1]

['coconut']

#copy a link

In [47]:
new_list = [2, 3, 5, 8, 13, 21, 34]
x = new_list.copy()
x

[2, 3, 5, 8, 13, 21, 34]

In [48]:
if x == new_list:
    print("list is copied!")

list is copied!

In [50]:
#find index using item -  index(item)
country = ['Bangkok','England','USA','UK','India','Pakistan']
res = country.index('India')
print(res)

4

In [53]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
x

3

In [71]:
# mixed list
my_list = ['cat', 0, 6.7]

# copying a list
new_list = my_list.copy()


print('Copied List:', new_list)

Copied List: ['cat', 0, 6.7]

In [72]:
old_list = [1, 2, 3]

# copy list using =
new_list = old_list


# add an element to list
new_list.append('a')

print('New List:', new_list)
print('Old List:', old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [73]:
# shallow copy using the slicing syntax

# mixed list
list = ['cat', 0, 6.7]

# copying a list using slicing
new_list = list[:]


# Adding an element to the new list
new_list.append('dog')

# Printing new and old list
print('Old List:', list)
print('New List:', new_list)

Old List: ['cat', 0, 6.7]
New List: ['cat', 0, 6.7, 'dog']

# Practice

In [54]:
practice_list = [1, 2, 3, 4, 5]
print(3 in practice_list)  # Output: True
print(6 in practice_list)  # Output: False

True
False

In [55]:
practice_list = [1, 2, 3, 4, 5]
subset = practice_list[1:4]  # Get elements at indices 1, 2, 3
print(subset)  # Output: [2, 3, 4]

[2, 3, 4]

In [56]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [57]:
practice_list = [1, 2, 3, 4, 5]
practice_list.remove(3)
print(practice_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [58]:
practice_list = [4, 2, 1, 3, 5]
practice_list.sort()
print(practice_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [60]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','n','g']

# items from index 2 to index 4
print(my_list[2:5])

# items from index 5 to end
print(my_list[5:])

# items beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'n', 'g']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g']

In [61]:
numbers = [21, 34, 54, 12]

print("Before Append:", numbers)

# using append method
numbers.append(32)

print("After Append:", numbers)

Before Append: [21, 34, 54, 12]
After Append: [21, 34, 54, 12, 32]

In [62]:
prime_numbers = [2, 3, 5]
print("List1:", prime_numbers)

even_numbers = [4, 6, 8]
print("List2:", even_numbers)

# join two lists
prime_numbers.extend(even_numbers)

print("List after append:", prime_numbers)

List1: [2, 3, 5]
List2: [4, 6, 8]
List after append: [2, 3, 5, 4, 6, 8]

In [64]:
languages = ['Python', 'Swift', 'C']

# changing the third item to 'C'
languages[2] = 'C++'

print(languages)  # ['Python', 'Swift', 'C']

['Python', 'Swift', 'C++']

In [65]:
languages = ['Python', 'Swift', 'C++', 'C', 'Java', 'Rust', 'R']

# deleting the second item
del languages[1]
print(languages) # ['Python', 'C++', 'C', 'Java', 'Rust', 'R']

# deleting the last item
del languages[-1]
print(languages) # ['Python', 'C++', 'C', 'Java', 'Rust']

# delete first two items
del languages[0 : 2]  # ['C', 'Java', 'Rust']
print(languages)

['Python', 'C++', 'C', 'Java', 'Rust', 'R']
['Python', 'C++', 'C', 'Java', 'Rust']
['C', 'Java', 'Rust']

In [66]:
languages = ['Python', 'Swift', 'C++', 'C', 'Java', 'Rust', 'R']

# remove 'Python' from the list
languages.remove('Python')

print(languages) # ['Swift', 'C++', 'C', 'Java', 'Rust', 'R']

['Swift', 'C++', 'C', 'Java', 'Rust', 'R']

In [67]:
animals = ['cat', 'dog', 'rabbit', 'horse']

# get the index of 'dog'
index = animals.index('dog')


print(index)

# Output: 1

1

Count in python

In [68]:
# create a list
numbers = [2, 3, 5, 2, 11, 2, 7]

# check the count of 2
count = numbers.count(2)


print('Count of 2:', count)

# Output: Count of 2: 3

Count of 2: 3

In [69]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# count element 'i'
count = vowels.count('i')


# print count
print('The count of i is:', count)

# count element 'p'
count = vowels.count('p')


# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

In [70]:
# random list
random = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]

# count element ('a', 'b')
count = random.count(('a', 'b'))


# print count
print("The count of ('a', 'b') is:", count)

# count element [3, 4]
count = random.count([3, 4])


# print count
print("The count of [3, 4] is:", count)

The count of ('a', 'b') is: 2
The count of [3, 4] is: 1

# Some programe

In [ ]:
#Declaring the empty list    
l =[]    
#Number of elements will be entered by the user      
n = int(input("Enter the number of elements in the list:"))    
# for loop to take the input    
for i in range(0,n):       
    # The input is taken from the user and added to the list as the item    
    l.append(input("Enter the item:"))       
print("printing the list items..")     
# traversal loop to print the list items      
for i in l:     
    print(i, end = "  ")

In [97]:
list1 = [1,2,3,4,5,6]    
list2 = [7,8,9,2,10]    
for x in list1:    
    for y in list2:    
        if x == y:    
            print("The common element is:",x)

The common element is: 2

In [98]:
list1 = [3,4,5,9,10,12,24]    
sum = 0    
for i in list1:    
    sum = sum+i        
print("The sum is:",sum)

The sum is: 67

In [99]:
# minimum of the list  
list1 = [103, 675, 321, 782, 200]  
# smallest element in the list  
print(min(list1))

103

In [100]:
list1 = [1,2,2,3,55,98,65,65,13,29]    
# Declare an empty list that will store unique values    
list2 = []    
for i in list1:    
    if i not in list2:    
        list2.append(i)    
print(list2)

[1, 2, 3, 55, 98, 65, 13, 29]