# What is a Set?

  --> In mathematics,a set is a well-defined  
      collection of distinct objects
  
      # Set of even positive numbers less than
        10:2,4,6,8
        
      # Set if perfect squares less than 10:1,4,9
      
      # Intersection of these two sets the number4
      
      # Curly braces or the set() function can be
        used to create sets.

In [1]:
# show that duplicates have been removed
basket = {'apple','orange','apple','pear','orange','banana'}
print(basket)

{'banana', 'orange', 'pear', 'apple'}

In [20]:
aSet = {1,25,1,3,5,42,25,412,454,61,321,321,55,1,3}
aSet

{1, 3, 5, 25, 42, 55, 61, 321, 412, 454}

In [30]:
a = {120,300,-120,700}
a

{-120, 120, 300, 700}

In [31]:
x = {'foo', 'bar', 'baz'}
'bar' in x

True

In [13]:
'orange' in basket

True

In [21]:
a = set('abracadabra')
x = set('11,2,54,3,3,25,11,1,2,2,4,55,22')
print(a)
print(x)

{'a', 'c', 'd', 'b', 'r'}
{'2', '4', '3', '5', ',', '1'}

In [ ]:
b = set('alaca')

In [1]:
x = set(['foo','bar','baz','foo','qux'])
x

{'bar', 'baz', 'foo', 'qux'}

In [2]:
type(x)

set

In [4]:
s = 'sonargaonuniversity'
set(s)

{'a', 'e', 'g', 'i', 'n', 'o', 'r', 's', 't', 'u', 'v', 'y'}

In [5]:
list(s)

['s',
 'o',
 'n',
 'a',
 'r',
 'g',
 'a',
 'o',
 'n',
 'u',
 'n',
 'i',
 'v',
 'e',
 'r',
 's',
 'i',
 't',
 'y']

In [10]:
print({'fuu'},{'buu'},)
type({'fuu'})

{'fuu'} {'buu'}

set

In [7]:
set('fuu')

{'f', 'u'}

In [11]:
x = set()
type(x)

set

In [12]:
x = {}
type(x)

dict

In [13]:
x = set()
bool(x)

False

Set elements must be immutable (unchanged)

In [14]:
x = {42,'foo',3.1416,None}
x

{3.1416, 42, None, 'foo'}

Given two sets, x1 and x2, the union of x1 and x2 is a set consisting of all elements in either set.In Python, set union can be performed with the | operator

In [17]:
x1 = {'dof','bar','bazz','xinn'}
x2 = {'xinn','qux','qaak','dof'}
#union 
x1 | x2

{'bar', 'bazz', 'dof', 'qaak', 'qux', 'xinn'}

Set union can also be obtained with the .union() method

In [18]:
x1.union(x2)

{'bar', 'bazz', 'dof', 'qaak', 'qux', 'xinn'}

In [19]:
x1 | ('baz', 'qux', 'quux')

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

set operations available in Python. Some are performed by operator, some by method, and some by both. The principle outlined above generally applies: where a set is expected, methods will typically accept any iterable as an argument, but operators require actual sets as operands.

Available Operators and Methods
Union --> a.union(b)
          a|b
intersection --> a.intersection(b)
                 a & b

Union Set

In [32]:
x1 = {'foo','bar','baz'}
x2 = {'baz','qux','quux'}
x = x1.union(x2)
x

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [33]:
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [34]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
a.union(b,c,d)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
a | b | c | d

{1, 2, 3, 4, 5, 6, 7}

In [37]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1.intersection(x2)

{'baz'}

In [4]:
nan = {4,6,4,8,10,6,1}
tan = {10,8,5,12,15,20,100,15}
t = nan|tan
print(" Union of ",nan,"and\n",tan,"is\n",t)

Union of  {1, 4, 6, 8, 10} and
 {100, 5, 20, 8, 10, 12, 15} is
 {1, 4, 100, 6, 5, 8, 10, 12, 15, 20}