# Python Dictionary

        In Python, a dictionary is a built-in data structure that stores a collection of
        key-value pairs. It is also known as an associative array or a hash map in other 
        programming languages.

        Dictionaries are mutable, unordered, and iterable. They are defined using curly braces 
        ({}) and consist of comma-separated key-value pairs. A colon (:) separates each key from
        its associated value: The keys within a dictionary must
        be unique, and they are typically immutable types such as strings or numbers. Values can 
        be of any data type and can be duplicated.

# Create a Dictionary

In [1]:
# Create a dictionary
dictionary = {} # Curly braces method
another_dictionary = dict() # Dict method

# Are the above dictionaries equivalent?
print(type(dictionary))
print(type(another_dictionary))
print(dictionary == another_dictionary)

<class 'dict'>
<class 'dict'>
True

In [2]:
# Populate the dictionary
dictionary["key1"] = "value1"
##access key1
print(dictionary["key1"])

value1

In [3]:
#create a dictionary with preinserted keys/values
d = {'key1':'value1'}
#access key1
print(d['key1'])

value1

Another method is using dict(),in which we supply keys and values as a keyword argument
list or as a list of tuples:

In [8]:
dictionary = dict(key1="value1", key2="value2")

# Display the dictionary
print(dictionary)

{'key1': 'value1', 'key2': 'value2'}

In [11]:
dictionary = dict([("key1", "value1"), ("key2", "value2")])

# Display the dictionary
print(dictionary)

{'key1': 'value1', 'key2': 'value2'}

In [13]:
dictionary[40] = "the answer to the ultimate question of life, the universe, and everything."
dictionary[1.2] = ["one point two"]
dictionary["list"] = ["just", "a", "list", "with", "an", "integer", 3]

# Display the dictionary
print(dictionary)

{'key1': 'value1', 'key2': 'value2', 42: 'the answer to the ultimate question of life, the universe, and everything.', 1.2: ['one point two'], 'list': ['just', 'a', 'list', 'with', 'an', 'integer', 3], 40: 'the answer to the ultimate question of life, the universe, and everything.'}

In [17]:
dictt = {"Name":"Sujon","Age":22,"Class":"First"}
print(dictt['Name'])
print(dictt['Age'])
print(dictt['Class'])

Sujon
22
First

# Access dictionary element

In [18]:
Employee = {"Name": "Johnny", "Age": 32, "salary":26000,"Company":"^TCS"}

In [20]:
print(type(Employee))
print("printing Employee data....")
print(Employee)

<class 'dict'>
printing Employee data....
{'Name': 'Johnny', 'Age': 32, 'salary': 26000, 'Company': '^TCS'}

In [23]:
print(Employee["Name"])
print(Employee["Age"])
print(Employee["salary"])
print(Employee["Company"])

Johnny
32
26000
^TCS

In [26]:
Dict = {}       
print("Empty Dictionary: ")       
print(Dict)       
      
# Creating a Dictionary       
# with dict() method       
Dict = dict({1: 'Hcl', 2: 'WIPRO', 3:'Facebook'})       
print("\nCreate Dictionary by using  dict(): ")       
print(Dict)       
      
# Creating a Dictionary       
# with each item as a Pair       
Dictt = dict([(4, 'Rinku'), (2, Singh)])       
print("\nDictionary with each item as a pair: ")       
print(Dictt)

Empty Dictionary:
{}

Create Dictionary by using  dict():
{1: 'Hcl', 2: 'WIPRO', 3: 'Facebook'}

NameError: name 'Singh' is not defined

In [27]:
Employee = {
    "Name": "Dev",
    "Age": 20,
    "salary":45000,
    "Company":"WIPRO"
   }   


print(type(Employee))      
print("printing Employee data .... ")      
print("Name : %s" %Employee["Name"])      
print("Age : %d" %Employee["Age"])      
print("Salary : %d" %Employee["salary"])      
print("Company : %s" %Employee["Company"])

<class 'dict'>
printing Employee data ....
Name : Dev
Age : 20
Salary : 45000
Company : WIPRO

In [33]:
theDict = {
    "brand" : "Ford",
    "electric" : False,
    "year":1970,
    "color": ["red","white","blue"]
}
print(theDict)

{'brand': 'Ford', 'electric': False, 'year': 1970, 'color': ['red', 'white', 'blue']}

In [37]:
print(type(theDict))

<class 'dict'>

In [42]:
print("Brand:",theDict["brand"])
print("Electric :",theDict["electric"])
print("Year :",theDict["year"])
print("Color :",theDict["color"])

Brand: Ford
Electric : False
Year : 1970
Color : ['red', 'white', 'blue']

The dict() Constructor

In [43]:
my_dict = dict(name = "Jakir", age = 20, country = "Bangladesh", religion = "Islam")
print(my_dict)

{'name': 'Jakir', 'age': 20, 'country': 'Bangladesh', 'religion': 'Islam'}

In [47]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])
print(my_dict['religion'])

Jakir
20
Bangladesh
Islam

In [48]:
MLB_team = {
     'Colorado' : 'Rockies',
     'Boston'   : 'Red Sox',
     'Minnesota': 'Twins',
     'Milwaukee': 'Brewers',
     'Seattle'  : 'Mariners'
 }
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

In [49]:
MLB_team["Seattle"]

'Mariners'

In [51]:
thee = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thee["model"]
x

'Mustang'

get() method that will give you the same result:

In [52]:
brnd = thee.get("brand")
brnd

'Ford'

Get Keys() method

In [55]:
hh = thee.keys()
print(hh)

dict_keys(['brand', 'model', 'year'])

In [58]:
car = {
"brand": "range rover",
"model": "high$tech",
"year": 2001,
 "price": "10m"   
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
print()
print(car)

dict_keys(['brand', 'model', 'year', 'price'])
dict_keys(['brand', 'model', 'year', 'price', 'color'])

{'brand': 'range rover', 'model': 'high$tech', 'year': 2001, 'price': '10m', 'color': 'white'}

The values() method will return a list of all the values in the dictionary.

In [59]:
value = car.values()
print(value)

dict_values(['range rover', 'high$tech', 2001, '10m', 'white'])

The items() method will return each item in a dictionary, as tuples in a list.

In [60]:
item = car.items()
print(item)

dict_items([('brand', 'range rover'), ('model', 'high$tech'), ('year', 2001), ('price', '10m'), ('color', 'white')])

# Change Dictionary Items

Change Values

In [64]:
thee

{'brand': 'Ford', 'model': 'Mustang', 'year': 2003}

In [65]:
thee["year"] = 2010
thee["model"] = "V-7"
thee

{'brand': 'Ford', 'model': 'V-7', 'year': 2010}

# Update Dictionary
The update() method will update the dictionary with the items from the given argument.

In [71]:
dd

{'one': 'ripon', 'two': 'sujon', 'three': 'neloy'}

In [67]:
dd.update({"three":"neloy"})

In [68]:
dd.

{'one': 'naeem', 'two': 'sujon', 'three': 'neloy'}

In [69]:
dd.update({"one":"ripon"})
dd

{'one': 'ripon', 'two': 'sujon', 'three': 'neloy'}

In [72]:
Employee

{'Name': 'Dev', 'Age': 20, 'salary': 45000, 'Company': 'WIPRO'}

In [75]:
Employee.update({'salary':50000})
Employee

{'Name': 'Dev', 'Age': 20, 'salary': 50000, 'Company': 'WIPRO'}

In [77]:
thisdict.update({"name":"sujon h jakir"})

# Add Dictionary Items

In [78]:
thisdict

{'name': 'sujon h jakir',
 'age': 20,
 'country': 'Bangladesh',
 'religion': 'Islam'}

In [79]:
thisdict['depertment'] = "CSE"
thisdict

{'name': 'sujon h jakir',
 'age': 20,
 'country': 'Bangladesh',
 'religion': 'Islam',
 'depertment': 'CSE'}

# Remove Dictionary Items

The pop() method removes the item with the specified key name:

In [65]:
xox = {
    101:"Rakib",
    102:"Sakib",
    103:"Rayhan",
    104:"Mumu",
    105:"Monir"
}
xox

{101: 'Rakib', 102: 'Sakib', 103: 'Rayhan', 104: 'Mumu', 105: 'Monir'}

In [66]:
xox.pop(105)
print(xox)

{101: 'Rakib', 102: 'Sakib', 103: 'Rayhan', 104: 'Mumu'}

In [13]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
removed_value = my_dict.pop('b')
print(my_dict)  # Output: {'a': 1, 'c': 3}
print(removed_value)  # Output: 2

{'a': 1, 'c': 3}
2

In [14]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
removed_value = my_dict.pop('d', 'Key not found')
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}
print(removed_value)  # Output: 'Key not found'

{'a': 1, 'b': 2, 'c': 3}
Key not found

In [15]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_dict.pop('b')
print(my_dict)  # Output: {'a': 1, 'c': 3}

{'a': 1, 'c': 3}

popitem() method

In [16]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
removed_item = my_dict.popitem()
print(my_dict)  # Output: {'a': 1, 'b': 2}
print(removed_item)  # Output: ('c', 3)

{'a': 1, 'b': 2}
('c', 3)

In [18]:
my_dict = {'x': 101, 'y': 201, 'z': 103}
removed_item = my_dict.popitem()
print(my_dict)  # Output: {'a': 1, 'b': 2}
print(removed_item)  # Output: ('c', 3)

{'x': 101, 'y': 201}
('z', 103)

The del keyword removes the item with the specified key name:

In [31]:
jj = {"color":["red",'green','blue'],"label":["oix",'xox','jinn']}
jj

{'color': ['red', 'green', 'blue'], 'label': ['oix', 'xox', 'jinn']}

In [33]:
del jj

In [34]:
print(jj)  #this will cause an error because "thisdict" no longer exists.

NameError: name 'jj' is not defined

In [ ]:
clear() method

In [40]:
thisdict = {"key1":"value1","key2":"value2","key3":"value3"}
thisdict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [41]:
thisdict.clear()

In [42]:
thisdict

{}

In [ ]:
copy() method used to copy a dictionary

In [43]:
yy = {"k1":"v1","k2":"v2","k3":"v3"}
copy_yy = yy.copy()
yy.clear()

In [44]:
yy

{}

In [45]:
copy_yy

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

# Nested dictionary

In [47]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [48]:
print(myfamily['child1'])

{'name': 'Emil', 'year': 2004}

In [55]:
print(myfamily['child2']['name'])

Tobias

In [54]:
print(myfamily['child2']['year'])

2007

In [69]:
student_scores = {
    "Girls":{
        'johura':{'Math':70,'Science':45,'English':65},
        'fatima':{'Math':50,'Science':75,'English':45},
        'smritika':{'Math':90,'Science':85,'English':82}
    },
    'Boys':{
          'Neloy': {'Math': 90, 'Science': 85, 'English': 92},
          'Sujon': {'Math': 80, 'Science': 92, 'English': 88},
          'Shakil': {'Math': 78, 'Science': 80, 'English': 85}        
    }
  
}

In [70]:
print("Neloy get")
print("  Math:",student_scores['Boys']['Neloy']['Math'])
print("  Science:",student_scores['Boys']['Neloy']['Science'])
print("  English:",student_scores['Boys']['Neloy']['English'])

Neloy get
  Math: 90
  Science: 85
  English: 92

In [71]:
print("fatima get")
print("  Math:",student_scores['Girls']['fatima']['Math'])
print("  Science:",student_scores['Girls']['fatima']['Science'])
print("  English:",student_scores['Girls']['fatima']['English'])

fatima get
  Math: 50
  Science: 75
  English: 45