# Tuple in python

        Tuples are used to store multiple items in a single variable.
        Tuple is one of 4 built-in data types in Python used to store collections of data,
        the other 3 are List, Set, and Dictionary, all with different qualities and usage.
        A tuple is a collection which is ordered and unchangeable.
        Tuples are written with round brackets.

# Some key features of tuple-     

# Tuple Items
        Tuple items are ordered, unchangeable, and allow duplicate values.
        Tupthistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)le items are indexed, the first item has index [0], the second item has index [1] etc.
# Ordered
         the items have a defined order, and that order will not change.
# Unchangeable
        Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple
        has been created.
# Allow Duplicates
        Since tuples are indexed, they can have items with the same value:

In [19]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry","jack-fruit","dragon-fruit")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry', 'jack-fruit', 'dragon-fruit')

In [31]:
#access item
cc= thistuple[0] + " and " + thistuple[0] 
print(type(cc))
print(cc)

<class 'str'>
apple and apple

In [32]:
#Tuple Length
length = ('immutable','hash',True,False,101)
print(length)
len(length)

('immutable', 'hash', True, False, 101)

5

In [33]:
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [34]:
#Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [35]:
tuple1 = ("abc", 34, True, 40, "male")
tuple1

('abc', 34, True, 40, 'male')

In [1]:
this = ("tuple","TUPLE",'Tuple')
print(this)

('tuple', 'TUPLE', 'Tuple')

In [2]:
book = ()
type(book)

tuple

In [3]:
book = (5,)
type(book)

tuple

In [10]:
book = ([1,2,34,5,10],[10,12,1,3,4,40])
print(book)

([1, 2, 34, 5, 10], [10, 12, 1, 3, 4, 40])

In [11]:
book[0]

[1, 2, 34, 5, 10]

In [12]:
book[1]

[10, 12, 1, 3, 4, 40]

In [13]:
print(len(book[0]))

5

In [14]:
print(len(book[1]))

6

In [15]:
#addition
add = book[0]+book[1]
add

[1, 2, 34, 5, 10, 10, 12, 1, 3, 4, 40]

In [16]:
type(add)

list

In [18]:
#convert a list to a tuple
cc = tuple(add)
print(cc)
type(cc)

(1, 2, 34, 5, 10, 10, 12, 1, 3, 4, 40)

tuple

In [36]:
#Python - Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [37]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [39]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print("tup1[0]: ", tup1[0]) 
print( "tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [40]:
empty_tuple = ()    
print("Empty tuple: ", empty_tuple)    
    
# Creating tuple having integers    
int_tuple = (4, 6, 8, 10, 12, 14)    
print("Tuple with integers: ", int_tuple)    
    
# Creating a tuple having objects of different data types    
mixed_tuple = (4, "Python", 9.3)    
print("Tuple with different data types: ", mixed_tuple)    
    
# Creating a nested tuple    
nested_tuple = ("Python", {4: 5, 6: 2, 8:2}, (5, 3, 5, 6))    
print("A nested tuple: ", nested_tuple)

Empty tuple:  ()
Tuple with integers:  (4, 6, 8, 10, 12, 14)
Tuple with different data types:  (4, 'Python', 9.3)
A nested tuple:  ('Python', {4: 5, 6: 2, 8: 2}, (5, 3, 5, 6))

In [42]:
# Python program to create a tuple without using parentheses       
tuple_ = 4, 5.7, "Tuples", ["Python", "Tuples"]    
# Displaying the tuple created    
print(tuple_)    
# Checking the data type of object tuple_    
print(type(tuple_) )    
# Trying to modify tuple_

(4, 5.7, 'Tuples', ['Python', 'Tuples'])
<class 'tuple'>

In [43]:
# Python program to show how to create a tuple having a single element    
single_tuple = ("Tuple")    
print( type(single_tuple) )     
# Creating a tuple that has only one element    
single_tuple = ("Tuple",)    
print( type(single_tuple) )     
# Creating tuple without parentheses    
single_tuple = "Tuple",    
print( type(single_tuple) )

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [44]:
# Python program to show how to access tuple elements    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Collection")    
print(tuple_[0])      
print(tuple_[1])     
# trying to access element index more than the length of a tuple    
try:    
    print(tuple_[5])     
except Exception as e:    
    print(e)    
# trying to access elements through the index of floating data type    
try:    
    print(tuple_[1.0])     
except Exception as e:    
    print(e)    
# Creating a nested tuple    
nested_tuple = ("Tuple", [4, 6, 2, 6], (6, 2, 6, 7))    
    
# Accessing the index of a nested tuple    
print(nested_tuple[0][3])           
print(nested_tuple[1][1])

Python
Tuple
tuple index out of range
tuple indices must be integers or slices, not float
l
6

In [45]:
# Python program to show how negative indexing works in Python tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Collection")    
# Printing elements using negative indices    
print("Element at -1 index: ", tuple_[-1])    
print("Elements between -4 and -1 are: ", tuple_[-4:-1])

Element at -1 index:  Collection
Elements between -4 and -1 are:  ('Python', 'Tuple', 'Ordered')

In [46]:
# Python program to show how slicing works in Python tuples    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")    
# Using slicing to access elements of the tuple    
print("Elements between indices 1 and 3: ", tuple_[1:3])    
# Using negative indexing in slicing    
print("Elements between indices 0 and -4: ", tuple_[:-4])    
# Printing the entire tuple by using the default start and end values.     
print("Entire tuple: ", tuple_[:])

Elements between indices 1 and 3:  ('Tuple', 'Ordered')
Elements between indices 0 and -4:  ('Python', 'Tuple')
Entire tuple:  ('Python', 'Tuple', 'Ordered', 'Immutable', 'Collection', 'Objects')

In [47]:
#Deleting a tuple

# Python program to show how to delete elements of a Python tuple    
# Creating a tuple    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", "Collection", "Objects")    
# Deleting a particular element of the tuple    
try:     
    del tuple_[3]    
    print(tuple_)    
except Exception as e:    
    print(e)    
# Deleting the variable from the global space of the program    
del tuple_    
# Trying accessing the tuple after deleting it    
try:    
    print(tuple_)    
except Exception as e:    
    print(e)

'tuple' object doesn't support item deletion
name 'tuple_' is not defined

# Updating Tuples
        Once a tuple is created, you cannot change its values. Tuples are unchangeable, 
        or immutable as it also is called.
        But there is a workaround. You can convert the tuple into a list, change the list,
        and convert the list back into a tuple.

In [50]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(type(x))
print(x)

<class 'tuple'>
('apple', 'kiwi', 'cherry')

In [52]:

tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3)

(12, 34.56, 'abc', 'xyz')

# Add Items
        Since tuples are immutable, they do not have a built-in append() method, 
        but there are other ways to add items to a tuple.

        1. Convert into a list: Just like the workaround for changing a tuple, you
        can convert it into a list, add your item(s), and convert it back into a tuple.

In [55]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'orange')

In [56]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [65]:
hh = ("","one","two","three","four","six")
print(hh)
print(type(hh))

('', 'one', 'two', 'three', 'four', 'six')
<class 'tuple'>

In [70]:
#so we convert to tuple to list then changed item 
h = list(hh)
type(h)

list

In [72]:
type(h)
h[0]="zero"

In [74]:
type(h)

list

# python unpacking tuple

In [89]:
my_tuple = [1,2,3,45,6,10]
a,b,c,d,e,f = my_tuple
print("a:",a)
print("b:",b)
print("c:",c)
print("d:",d)
print("e:",e)
print("f:",f)
add = a + b + d
mul = a*c*f
sub = d-(a-b-c)
div = (e+f)//b
print("a+b+d : ",add)
print("a*c*f : ",mul)
print("d-(a-b-c) : ",sub)
print("(e+f)/b : ",div)

a: 1
b: 2
c: 3
d: 45
e: 6
f: 10
a+b+d :  48
a*c*f :  30
d-(a-b-c) :  49
(e+f)/b :  8

In [92]:
fib_number = (0,1,1,2,3,5,8,13,21,34,56,)

In [98]:
a,b,*rest = fib_number
print("a :",a)
print("b :",b)
print("*rest :",rest)
type(rest)

a : 0
b : 1
*rest : [1, 2, 3, 5, 8, 13, 21, 34, 56]

list

In [101]:
rgb = ("red","green","blue")
red,green,blue = rgb
print("This is a",red,"color")
print("This is a",green,"color")
print("This is a",blue,"color")
type(red)

This is a red color
This is a green color
This is a blue color

str

In [106]:
fruits = ("mango","banana","pine apple","papaya","apple")
*one,two = fruits
print(two)
print(one)

apple
['mango', 'banana', 'pine apple', 'papaya']

Here are a few more examples of unpacking in Python:

In [113]:
mum = (1,2.3,4.52,12,20,1)
a,*most,b=mum
print(mum)
print("a:",a)
print("most:",most)
print("b:",b)

(1, 2.3, 4.52, 12, 20, 1)
a: 1
most: [2.3, 4.52, 12, 20]
b: 1

In [117]:
a = 10
b = 20
print("before swapping:")
print("a:",a)
print("b:",b)
a,b = b,c
print("after swapping:")

print("a:",a)
print("b:",b)

before swapping:
a: 10
b: 20
after swapping:
a: 20
b: 3

In [118]:
nested_tuple = (1, (2, 3), 4)
a, (b, c), d = nested_tuple

print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: 3
print(d)  # Output: 4

1
2
3
4

In [119]:
def get_coordinates():
    return 10, 20

x, y = get_coordinates()

print(x)  # Output: 10
print(y)  # Output: 20

10
20

In [123]:
#using loop

my_list = ((1, 'a'), (2, 'b'), (3, 'c'))
print(type(my_list))

for number, letter in my_list:
    print(number, letter)

<class 'tuple'>
1 a
2 b
3 c

In [128]:
students = (("Alice", 90), ("Bob", 85), ("Charlie", 92))

for name, score in students:
    if score >= 90:
        grade = "A"
    elif score >= 80:
        grade = "B"
    else:
        grade = "C"
    
    print(f"{name}: {score} ({grade})")

Alice: 90 (A)
Bob: 85 (B)
Charlie: 92 (A)

# Python - Join Tuples

In [129]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [132]:
my_tuple = ('Hello', 'world', '!')
print("before join :",my_tuple)
result = ' '.join(my_tuple)

print("after join :",result)
type(result)

before join : ('Hello', 'world', '!')
after join : Hello world !

str

In [136]:
fruits = ("apple", "banana","cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# tuple method
    count
    index

In [139]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)
y = thistuple.count(7)
print("5 :",x)
print("7 :",y)

5 : 2
7 : 2

In [140]:
#count
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3