# Essential basic functionality

 On this notebook:
        -->Head and tail
        -->Attributes and underlying data
        -->Accelerated operations
        -->Flexible binary operations
        -->Descriptive statistics
        -->Function application
        -->Reindexing and altering labels
        -->Iteration
        -->.dt accessor
        -->Vectorized string methods
        -->Sorting
        -->Copying
        -->dtypes
        
        Selecting columns based on dtype

In [4]:
import pandas as pd
import numpy as np

In [9]:
index_date=pd.date_range("2023/01/01",periods=12)

In [10]:
index_date

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12'],
              dtype='datetime64[ns]', freq='D')

In [20]:
s=pd.Series(np.random.randn(12),index_date)
s

2023-01-01   -0.253340
2023-01-02   -1.545299
2023-01-03    0.534236
2023-01-04   -2.569748
2023-01-05   -1.222759
2023-01-06   -0.960041
2023-01-07    0.775100
2023-01-08    0.658634
2023-01-09    0.292983
2023-01-10    0.981745
2023-01-11    0.744370
2023-01-12   -2.791002
Freq: D, dtype: float64

In [21]:
s=pd.Series(np.random.randn(12),index_date,columns=["date", "random"])
#it shows TypeError . columns work with only DataFrame

TypeError: Series.__init__() got an unexpected keyword argument 'columns'

In [22]:
s_frame=pd.DataFrame(s)

In [23]:
s_frame

                   0
2023-01-01 -0.253340
2023-01-02 -1.545299
2023-01-03  0.534236
2023-01-04 -2.569748
2023-01-05 -1.222759
2023-01-06 -0.960041
2023-01-07  0.775100
2023-01-08  0.658634
2023-01-09  0.292983
2023-01-10  0.981745
2023-01-11  0.744370
2023-01-12 -2.791002

Now i can add column name of the data frame are given above

In [32]:
s_frame=pd.DataFrame(np.random.randn(12,1),index=index_date,columns=["Random"])
s_frame

              Random
2023-01-01  0.590863
2023-01-02 -1.166128
2023-01-03  0.695369
2023-01-04 -0.948249
2023-01-05 -0.023299
2023-01-06  0.106861
2023-01-07  0.305685
2023-01-08 -0.169920
2023-01-09  1.426158
2023-01-10  0.403756
2023-01-11  0.025563
2023-01-12  0.122500

# head and tail
To view a small sample of a Series or DataFrame object, use the head() and tail() methods. The default number of elements to display is five, but you may pass a custom number.

In [36]:
long_series=pd.Series(np.random.randn(1000))
long_series

0     -0.980267
1      0.889748
2      0.430012
3      0.565712
4      1.134200
         ...
995    0.587920
996    0.868810
997    0.748082
998   -0.870770
999    1.519056
Length: 1000, dtype: float64

In [37]:
long_series.head()

0   -0.980267
1    0.889748
2    0.430012
3    0.565712
4    1.134200
dtype: float64

In [38]:
long_series.tail()

995    0.587920
996    0.868810
997    0.748082
998   -0.870770
999    1.519056
dtype: float64

In [42]:
long_series.head(26)

0    -0.980267
1     0.889748
2     0.430012
3     0.565712
4     1.134200
5    -0.912855
6    -1.586953
7     0.463786
8    -1.112303
9    -0.328522
10    0.518572
11    0.724236
12    0.055043
13   -0.386796
14    2.080389
15    0.681435
16   -1.777981
17    0.518997
18   -1.429904
19   -0.225251
20    1.210690
21   -1.121237
22    0.730677
23    0.151389
24   -0.038846
25   -0.958064
dtype: float64

In [43]:
long_series.tail(25)

975    0.209696
976    0.019098
977   -0.733033
978   -0.349069
979   -1.599284
980    1.985841
981    0.365633
982    0.082641
983   -0.307211
984    1.065265
985   -0.051390
986    0.311673
987   -0.278004
988    1.955654
989    1.920733
990   -0.443524
991   -0.174598
992   -0.252005
993    0.382765
994    0.280083
995    0.587920
996    0.868810
997    0.748082
998   -0.870770
999    1.519056
dtype: float64

# Attributes and underlying data

pandas objects have a number of attributes enabling you to access the metadata

shape: gives the axis dimensions of the object, consistent with ndarray

Axis labels
Series: index (only axis)

DataFrame: index (rows) and columns

In [46]:
dff=pd.DataFrame(np.random.randn(12,3),index=index_date,columns=["A","B","C"])
dff

                   A         B         C
2023-01-01  0.826952 -1.185661  0.986279
2023-01-02  1.528088  1.245082 -0.473378
2023-01-03  0.705479  0.788234  0.008209
2023-01-04 -0.856181  0.903249 -0.095945
2023-01-05 -0.855758  0.292784 -0.374875
2023-01-06 -1.675706 -0.303232 -0.565420
2023-01-07 -0.951936 -1.255472  1.103251
2023-01-08  0.647139  0.956639 -0.847367
2023-01-09  1.210851 -0.512944 -0.679721
2023-01-10 -0.647855 -0.281482  0.099729
2023-01-11 -0.096727 -0.699410 -1.101938
2023-01-12  0.708665  0.021725 -0.812371

In [49]:
dff[:6]

                   A         B         C
2023-01-01  0.826952 -1.185661  0.986279
2023-01-02  1.528088  1.245082 -0.473378
2023-01-03  0.705479  0.788234  0.008209
2023-01-04 -0.856181  0.903249 -0.095945
2023-01-05 -0.855758  0.292784 -0.374875
2023-01-06 -1.675706 -0.303232 -0.565420

In [50]:
dff[6:]

                   A         B         C
2023-01-07 -0.951936 -1.255472  1.103251
2023-01-08  0.647139  0.956639 -0.847367
2023-01-09  1.210851 -0.512944 -0.679721
2023-01-10 -0.647855 -0.281482  0.099729
2023-01-11 -0.096727 -0.699410 -1.101938
2023-01-12  0.708665  0.021725 -0.812371

In [51]:
add=dff[:6]+dff[6:]
add

             A   B   C
2023-01-01 NaN NaN NaN
2023-01-02 NaN NaN NaN
2023-01-03 NaN NaN NaN
2023-01-04 NaN NaN NaN
2023-01-05 NaN NaN NaN
2023-01-06 NaN NaN NaN
2023-01-07 NaN NaN NaN
2023-01-08 NaN NaN NaN
2023-01-09 NaN NaN NaN
2023-01-10 NaN NaN NaN
2023-01-11 NaN NaN NaN
2023-01-12 NaN NaN NaN

In [52]:
dff.columns=[x.lower() for x in dff.columns]

In [53]:
dff

                   a         b         c
2023-01-01  0.826952 -1.185661  0.986279
2023-01-02  1.528088  1.245082 -0.473378
2023-01-03  0.705479  0.788234  0.008209
2023-01-04 -0.856181  0.903249 -0.095945
2023-01-05 -0.855758  0.292784 -0.374875
2023-01-06 -1.675706 -0.303232 -0.565420
2023-01-07 -0.951936 -1.255472  1.103251
2023-01-08  0.647139  0.956639 -0.847367
2023-01-09  1.210851 -0.512944 -0.679721
2023-01-10 -0.647855 -0.281482  0.099729
2023-01-11 -0.096727 -0.699410 -1.101938
2023-01-12  0.708665  0.021725 -0.812371

In [54]:
add

             A   B   C
2023-01-01 NaN NaN NaN
2023-01-02 NaN NaN NaN
2023-01-03 NaN NaN NaN
2023-01-04 NaN NaN NaN
2023-01-05 NaN NaN NaN
2023-01-06 NaN NaN NaN
2023-01-07 NaN NaN NaN
2023-01-08 NaN NaN NaN
2023-01-09 NaN NaN NaN
2023-01-10 NaN NaN NaN
2023-01-11 NaN NaN NaN
2023-01-12 NaN NaN NaN

In [55]:
add.columns=[k.lower() for k in add.columns]

In [56]:
add

             a   b   c
2023-01-01 NaN NaN NaN
2023-01-02 NaN NaN NaN
2023-01-03 NaN NaN NaN
2023-01-04 NaN NaN NaN
2023-01-05 NaN NaN NaN
2023-01-06 NaN NaN NaN
2023-01-07 NaN NaN NaN
2023-01-08 NaN NaN NaN
2023-01-09 NaN NaN NaN
2023-01-10 NaN NaN NaN
2023-01-11 NaN NaN NaN
2023-01-12 NaN NaN NaN

In [57]:
dff

                   a         b         c
2023-01-01  0.826952 -1.185661  0.986279
2023-01-02  1.528088  1.245082 -0.473378
2023-01-03  0.705479  0.788234  0.008209
2023-01-04 -0.856181  0.903249 -0.095945
2023-01-05 -0.855758  0.292784 -0.374875
2023-01-06 -1.675706 -0.303232 -0.565420
2023-01-07 -0.951936 -1.255472  1.103251
2023-01-08  0.647139  0.956639 -0.847367
2023-01-09  1.210851 -0.512944 -0.679721
2023-01-10 -0.647855 -0.281482  0.099729
2023-01-11 -0.096727 -0.699410 -1.101938
2023-01-12  0.708665  0.021725 -0.812371

In [69]:
dff.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [68]:
dff.columns=[o.upper() for o in dff.columns]

In [61]:
# for DataFrame
dff.index.array

<DatetimeArray>
['2023-01-01 00:00:00', '2023-01-02 00:00:00', '2023-01-03 00:00:00',
 '2023-01-04 00:00:00', '2023-01-05 00:00:00', '2023-01-06 00:00:00',
 '2023-01-07 00:00:00', '2023-01-08 00:00:00', '2023-01-09 00:00:00',
 '2023-01-10 00:00:00', '2023-01-11 00:00:00', '2023-01-12 00:00:00']
Length: 12, dtype: datetime64[ns]

In [66]:
#for Series

In [67]:
index_date.dtype

dtype('<M8[ns]')

In [64]:
index_date.array

<DatetimeArray>
['2023-01-01 00:00:00', '2023-01-02 00:00:00', '2023-01-03 00:00:00',
 '2023-01-04 00:00:00', '2023-01-05 00:00:00', '2023-01-06 00:00:00',
 '2023-01-07 00:00:00', '2023-01-08 00:00:00', '2023-01-09 00:00:00',
 '2023-01-10 00:00:00', '2023-01-11 00:00:00', '2023-01-12 00:00:00']
Length: 12, dtype: datetime64[ns]

In [70]:
s

2023-01-01   -0.253340
2023-01-02   -1.545299
2023-01-03    0.534236
2023-01-04   -2.569748
2023-01-05   -1.222759
2023-01-06   -0.960041
2023-01-07    0.775100
2023-01-08    0.658634
2023-01-09    0.292983
2023-01-10    0.981745
2023-01-11    0.744370
2023-01-12   -2.791002
Freq: D, dtype: float64

In [71]:
s.to_numpy()

array([-0.25333952, -1.54529917,  0.53423589, -2.5697483 , -1.22275879,
       -0.9600414 ,  0.77510023,  0.65863439,  0.29298279,  0.98174452,
        0.74437013, -2.79100238])

In [72]:
np.asarray(s)

array([-0.25333952, -1.54529917,  0.53423589, -2.5697483 , -1.22275879,
       -0.9600414 ,  0.77510023,  0.65863439,  0.29298279,  0.98174452,
        0.74437013, -2.79100238])

In [73]:
np.asarray(dff)

array([[ 0.82695199, -1.18566143,  0.98627899],
       [ 1.52808772,  1.24508247, -0.47337843],
       [ 0.70547928,  0.78823371,  0.0082093 ],
       [-0.85618059,  0.90324925, -0.09594546],
       [-0.85575757,  0.29278351, -0.37487462],
       [-1.67570631, -0.30323158, -0.5654203 ],
       [-0.95193632, -1.2554724 ,  1.10325053],
       [ 0.64713939,  0.95663923, -0.84736708],
       [ 1.21085101, -0.51294427, -0.67972079],
       [-0.64785451, -0.28148168,  0.09972896],
       [-0.09672696, -0.69941036, -1.10193761],
       [ 0.70866517,  0.02172497, -0.81237123]])

In [75]:
dff.to_numpy()

array([[ 0.82695199, -1.18566143,  0.98627899],
       [ 1.52808772,  1.24508247, -0.47337843],
       [ 0.70547928,  0.78823371,  0.0082093 ],
       [-0.85618059,  0.90324925, -0.09594546],
       [-0.85575757,  0.29278351, -0.37487462],
       [-1.67570631, -0.30323158, -0.5654203 ],
       [-0.95193632, -1.2554724 ,  1.10325053],
       [ 0.64713939,  0.95663923, -0.84736708],
       [ 1.21085101, -0.51294427, -0.67972079],
       [-0.64785451, -0.28148168,  0.09972896],
       [-0.09672696, -0.69941036, -1.10193761],
       [ 0.70866517,  0.02172497, -0.81237123]])

In [76]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2023-01-01 to 2023-01-12
Freq: D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     float64
 1   B       12 non-null     float64
 2   C       12 non-null     float64
dtypes: float64(3)
memory usage: 384.0 bytes

In [81]:
ser = pd.Series(pd.date_range("01/05/2005", periods=2, tz="CET"))
ser

0   2005-01-05 00:00:00+01:00
1   2005-01-06 00:00:00+01:00
dtype: datetime64[ns, CET]

In [85]:
ser.to_numpy(dtype="object")

array([Timestamp('2005-01-05 00:00:00+0100', tz='CET'),
       Timestamp('2005-01-06 00:00:00+0100', tz='CET')], dtype=object)

In [86]:
# or tthrown away datetime64[ns]

In [87]:
ser.to_numpy(dtype="datetime64[ns]")

array(['2005-01-04T23:00:00.000000000', '2005-01-05T23:00:00.000000000'],
      dtype='datetime64[ns]')

In [97]:
pd.set_option("compute.use_bottleneck", False)
pd.set_option("compute.use_numexpr", False)

In [98]:
dff

                   A         B         C
2023-01-01  0.826952 -1.185661  0.986279
2023-01-02  1.528088  1.245082 -0.473378
2023-01-03  0.705479  0.788234  0.008209
2023-01-04 -0.856181  0.903249 -0.095945
2023-01-05 -0.855758  0.292784 -0.374875
2023-01-06 -1.675706 -0.303232 -0.565420
2023-01-07 -0.951936 -1.255472  1.103251
2023-01-08  0.647139  0.956639 -0.847367
2023-01-09  1.210851 -0.512944 -0.679721
2023-01-10 -0.647855 -0.281482  0.099729
2023-01-11 -0.096727 -0.699410 -1.101938
2023-01-12  0.708665  0.021725 -0.812371

In [99]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.randn(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)
df

        one       two     three
a -0.398253  0.281223       NaN
b -0.286140 -1.163703 -0.931019
c  0.504009  0.472196  0.628838
d       NaN  1.024389  0.425413

In [103]:
row = df.iloc[1]
row

one     -0.286140
two     -1.163703
three   -0.931019
Name: b, dtype: float64

In [104]:
column = df["two"]
column

a    0.281223
b   -1.163703
c    0.472196
d    1.024389
Name: two, dtype: float64

In [102]:
df.sub(row, axis="columns")

        one       two     three
a -0.112113  1.444926       NaN
b  0.000000  0.000000  0.000000
c  0.790148  1.635899  1.559857
d       NaN  2.188092  1.356432

# Accelerated operations

These libraries are especially useful when dealing with large data sets, and provide large speedups. numexpr uses smart chunking, caching, and multiple cores. bottleneck is a set of specialized cython routines that are especially fast when dealing with arrays that have nans.

see the setting 
pd.set_option("compute.use_bottleneck", False)
pd.set_option("compute.use_numexpr", False)

In [ ]:
pd.set_option("compute.use_bottleneck",False)
pd.ser_option("")