REMEMBER
Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series

In [1]:
import pandas as pd
df=pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [7]:
!jupyter --version

Selected Jupyter core packages...
IPython          : 8.12.0
ipykernel        : 6.19.2
ipywidgets       : 8.0.4
jupyter_client   : 7.4.9
jupyter_core     : 5.3.0
jupyter_server   : 1.23.4
jupyterlab       : 3.6.3
nbclient         : 0.5.13
nbconvert        : 6.5.4
nbformat         : 5.7.0
notebook         : 6.5.4
qtconsole        : 5.4.2
traitlets        : 5.7.1

In [4]:
dict1={'a':[1],'b':[2],'c':[3],'d':[4]}
dict1

{'a': [1], 'b': [2], 'c': [3], 'd': [4]}

In [7]:
df= pd.DataFrame(dict1,index=['a'])

In [6]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

Pandas use for analyze the data.Pandas working with data set.
It has functions for analyzing,cheaning,exploring and manipulating data.

In [8]:
import pandas as pd
datas={
    "T-shirt":["Polo","Casual","Hiphop"],
    "price":[750,460,500]
}
test=pd.DataFrame(datas)
print(test)

  T-shirt  price
0    Polo    750
1  Casual    460
2  Hiphop    500

In [10]:
import random

# Define possible T-shirt types and their corresponding prices
tshirt_types = ["Polo", "Casual", "Hiphop"]

# Create an empty list to store the dummy data dictionaries
dummy_data = []

# Generate 200 dummy data points
for _ in range(200):
    data_point = {
        "T-shirt": random.choice(tshirt_types),
        "price": random.randint(200, 1000)  # Generate a random price between 200 and 1000
    }
    dummy_data.append(data_point)

# Print the first 5 data points as an example
for i, data_point in enumerate(dummy_data[:5]):
    print(f"Data Point {i + 1}: {data_point}")

# You can access any data point by its index in the `dummy_data` list.

Data Point 1: {'T-shirt': 'Casual', 'price': 586}
Data Point 2: {'T-shirt': 'Casual', 'price': 915}
Data Point 3: {'T-shirt': 'Polo', 'price': 778}
Data Point 4: {'T-shirt': 'Casual', 'price': 336}
Data Point 5: {'T-shirt': 'Polo', 'price': 938}

In [11]:
print(pd.__version__)

1.5.3

# What is a Series?

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [28]:
a=[2,3,5,7,11,13,17,19,21,23,31,33]
a

[2, 3, 5, 7, 11, 13, 17, 19, 21, 23, 31, 33]

In [29]:
penpen=pd.Series(a)

In [30]:
penpen

0      2
1      3
2      5
3      7
4     11
5     13
6     17
7     19
8     21
9     23
10    31
11    33
dtype: int64

In [19]:
aa=[[2,3,5,7,11,13],[17,19,21,23,31,33]]
aa

[[2, 3, 5, 7, 11, 13], [17, 19, 21, 23, 31, 33]]

In [21]:
gengen=pd.Series(aa)
gengen

0        [2, 3, 5, 7, 11, 13]
1    [17, 19, 21, 23, 31, 33]
dtype: object

In [22]:
aaa=[[11,7,5,3,2],[2,3,5,7,11,13],[17,19,21,23,31,33]]
aaa

[[11, 7, 5, 3, 2], [2, 3, 5, 7, 11, 13], [17, 19, 21, 23, 31, 33]]

In [24]:
fenfen=pd.Series(aaa)
fenfen

0            [11, 7, 5, 3, 2]
1        [2, 3, 5, 7, 11, 13]
2    [17, 19, 21, 23, 31, 33]
dtype: object

In [42]:
print(fenfen[1]+fenfen[2]+fenfen[0])

[2, 3, 5, 7, 11, 13, 17, 19, 21, 23, 31, 33, 11, 7, 5, 3, 2]

In [39]:
print(len(fenfen))

3

In [41]:
print(len(fenfen[1]+fenfen[2]+fenfen[0]))

17

In [45]:
notes=["math","social","english","science"]
yess=pd.Series(notes,index=['m','s','e','sc'])
print(yess)

m        math
s      social
e     english
sc    science
dtype: object

In [5]:
import random

# Create an empty dictionary to store the demo values
calories = {}

# Generate 100 demo values for each day
for day in range(1, 101):
    day_name = f"day{day}"
    calorie_value = random.randint(200, 600)  # Generate a random calorie value between 200 and 600
    calories[day_name] = calorie_value

# Print the first 5 days as an example
for day, calorie_value in list(calories.items())[:5]:
    print(f"{day}: {calorie_value}")

# You can access any day's calorie value by its key in the `calories` dictionary.

day1: 422
day2: 578
day3: 412
day4: 236
day5: 230

In [6]:
calories

{'day1': 422,
 'day2': 578,
 'day3': 412,
 'day4': 236,
 'day5': 230,
 'day6': 417,
 'day7': 305,
 'day8': 256,
 'day9': 542,
 'day10': 576,
 'day11': 285,
 'day12': 550,
 'day13': 218,
 'day14': 404,
 'day15': 254,
 'day16': 481,
 'day17': 258,
 'day18': 547,
 'day19': 571,
 'day20': 504,
 'day21': 523,
 'day22': 499,
 'day23': 223,
 'day24': 239,
 'day25': 289,
 'day26': 343,
 'day27': 599,
 'day28': 224,
 'day29': 550,
 'day30': 351,
 'day31': 549,
 'day32': 429,
 'day33': 397,
 'day34': 516,
 'day35': 209,
 'day36': 513,
 'day37': 516,
 'day38': 251,
 'day39': 246,
 'day40': 342,
 'day41': 329,
 'day42': 367,
 'day43': 596,
 'day44': 488,
 'day45': 458,
 'day46': 562,
 'day47': 296,
 'day48': 397,
 'day49': 507,
 'day50': 558,
 'day51': 527,
 'day52': 492,
 'day53': 595,
 'day54': 598,
 'day55': 238,
 'day56': 382,
 'day57': 391,
 'day58': 460,
 'day59': 373,
 'day60': 321,
 'day61': 492,
 'day62': 363,
 'day63': 491,
 'day64': 226,
 'day65': 430,
 'day66': 468,
 'day67': 311,
 'day68': 592,
 'day69': 231,
 'day70': 514,
 'day71': 428,
 'day72': 265,
 'day73': 536,
 'day74': 208,
 'day75': 216,
 'day76': 300,
 'day77': 206,
 'day78': 456,
 'day79': 528,
 'day80': 216,
 'day81': 306,
 'day82': 482,
 'day83': 256,
 'day84': 296,
 'day85': 207,
 'day86': 279,
 'day87': 563,
 'day88': 490,
 'day89': 330,
 'day90': 564,
 'day91': 543,
 'day92': 438,
 'day93': 459,
 'day94': 355,
 'day95': 571,
 'day96': 405,
 'day97': 229,
 'day98': 285,
 'day99': 382,
 'day100': 552}

In [11]:
Days=pd.Series(calories)
print(Days)

day1      422
day2      578
day3      412
day4      236
day5      230
         ...
day96     405
day97     229
day98     285
day99     382
day100    552
Length: 100, dtype: int64

In [16]:
onx=[10,5,12,7,44,46,20]

In [18]:
pd.Series(onx,index= ["x", "y", "z","a","b","c","d"])

x    10
y     5
z    12
a     7
b    44
c    46
d    20
dtype: int64

In [20]:
import numpy as np
arr=np.array([["a","b","c","d"]])

In [21]:
f=pd.DataFrame(arr)
f

   0  1  2  3
0  a  b  c  d

In [25]:
arr=np.array([["a","b","c","d"],["a","b","c","d"]])

In [31]:
ff=pd.DataFrame(arr,index=["A","B"])
ff

   0  1  2  3
A  a  b  c  d
B  a  b  c  d

In [32]:
ff[0]

A    a
B    a
Name: 0, dtype: object

In [38]:
#check empty series
c=pd.Series()
print("Empty :",c)

Empty : Series([], dtype: float64)

/tmp/ipykernel_6402/2911072370.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  c=pd.Series()

In [14]:
import random 
import numpy as np
import pandas as pd

In [16]:
s=pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [21]:
s

a   -0.151014
b   -0.621926
c    1.183391
d   -0.333095
e    1.013677
dtype: float64

In [19]:
s

a   -0.151014
b   -0.621926
c    1.183391
d   -0.333095
e    1.013677
dtype: float64

In [20]:
s

a   -0.151014
b   -0.621926
c    1.183391
d   -0.333095
e    1.013677
dtype: float64

In [22]:
ss=pd.DataFrame(s)

# DataFrame

In [15]:
data ={
    "c":[420,385,370,540],
    "p":[50,40,45,100]
}
jj=pd.DataFrame(data)
jj

     c    p
0  420   50
1  385   40
2  370   45
3  540  100

In [20]:
jim={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
#load data into a DataFrame object
print(jim)

{'calories': [420, 380, 390], 'duration': [50, 40, 45]}

In [21]:
work=pd.DataFrame(jim)

In [22]:
work

   calories  duration
0       420        50
1       380        40
2       390        45

In [23]:
work.loc[]

calories    420
duration     50
Name: 0, dtype: int64

In [39]:
import pandas as pan

In [40]:
#calling DataFrame contructor
df=pan.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [41]:
#list of strings
lst=['Bangladesh','cricket','team']
df=pan.DataFrame(lst)

In [43]:
df

            0
0  Bangladesh
1     cricket
2        team

In [44]:
l=[['Bangladesh','cricket','team'],['Bangladesh','cricket','team']]

In [45]:
l

[['Bangladesh', 'cricket', 'team'], ['Bangladesh', 'cricket', 'team']]

In [46]:
dd=pan.DataFrame(l)
dd

            0        1     2
0  Bangladesh  cricket  team
1  Bangladesh  cricket  team

In [47]:
Data={
    'Name':["Avay","john","Number","Age"],
    'Team':["boston","boston","boston","boston"],
    'number':[0.0,30.0,8.0,"NaN"]
}

In [48]:
df=pan.DataFrame(Data)

In [49]:
df

     Name    Team number
0    Avay  boston    0.0
1    john  boston   30.0
2  Number  boston    8.0
3     Age  boston    NaN

In [60]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    "State": ['Andhra Pradesh', 'Maharashtra', 'Karnataka', 'Kerala', 'Tamil Nadu'],
    "Capital": ['Hyderabad', 'Mumbai', 'Bengaluru', 'Trivandrum', 'Chennai'],
    "Literacy %": [89, 77, 82, 97,85],
    "Avg High Temp(c)": [33, 30, 29, 31, 32 ]
})
print(df)

            State     Capital  Literacy %  Avg High Temp(c)
0  Andhra Pradesh   Hyderabad          89                33
1     Maharashtra      Mumbai          77                30
2       Karnataka   Bengaluru          82                29
3          Kerala  Trivandrum          97                31
4      Tamil Nadu     Chennai          85                32