1​Write a Python program to sum all the items in a list.

In [1]:
def add(n):
    s = sum(n)
    print(s)
Listt = [10,3,45,2,-1]
add(Listt)

59

2​Write a Python program to multiplies all the items in a list.

In [11]:
def multiply_list(n):
    total = 1
    for x in n:
        total *= x
    return total
LL = [3,1,2,4,10]
p = multiply_list(LL)
print(p)

240

3​Write a Python program to get the largest number from a list.

In [19]:
oo = [20,5,15,100,30,25,1]
print(oo,"\nminimun number of the list :",min(oo))
print("maximum number of the list :",max(oo))

[20, 5, 15, 100, 30, 25, 1]
minimun number of the list : 1
maximum number of the list : 100

4​ Write a Python program to count the number of strings where the string length
   is 2 or more and the first and last character are same from a given list of strings.
   
   Sample List : ['abc', 'xyz', 'aba', '1221']
   Expected Result : 2

In [28]:
List = ['abc', 'xyz', 'aba', '1221','baaaab','aaa']

def count_no_of_str(n):
    count=0
    for x in n:
        if len(x)>2:
            if x[0]==x[-1]:
                count+=1
    return count            
p=count_no_of_str(List)
print(p)

4

6​Write a Python program to get a list, sorted in increasing order by the last
  element in each tuple from a given list of non-empty tuples.
  
  Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
  Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [136]:
_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
last_ele=[]
for x in range(len(_list)):
    last_ele.append(_list[x][1])
last_ele=sorted((last_ele))

new_list=[]
for x in last_ele:
    for item in _list:
        if x==item[1]:
            new_list.append(item)
            break
    
new_list

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7​Write a Python program to remove duplicates from a list.

In [148]:
l = [10,2,3,5,2,2,2,10,5,3,6,5,63,23]
output=[]
for x in l:
    if x not in output:
        output.append(x)
output

[10, 2, 3, 5, 6, 63, 23]

8​Write a Python program to check a list is empty or not.

In [152]:
empty = [10]
if len(empty)==0:
    print("list is empty")
else:
    print("list has a length of :",len(empty))

list has a length of : 1

9​Write a Python program to generate a 3*4*6 3D array whose each element is

In [154]:
array = [[ ['*' for col in range(6)] for col in range(4)] for row in range(3)]

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

10​Write a Python program to print the numbers of a specified list after removing
even numbers from it.

In [157]:
num = [7,8, 120, 25, 44, 20, 27]
for x in num:
    if x%2==0:
        num.remove(x)
num

[7, 120, 25, 20, 27]

10​ Write a Python program to create a list with infinite elements.

In [18]:
def infinite_data():
    for i in range(0,100):
        yield i

In [19]:
s = infinite_data()

In [21]:
for i in range(0,10):
    print(next(s))

0
1
2
3
4
5
6
7
8
9

In [ ]:
Write a Python program to find a tuple, the smallest second index value from
a list of tuples

In [22]:
List = [(2),(6),(0),(4),(8)]
List2=sorted(List)

In [23]:
List2

[0, 2, 4, 6, 8]