In [ ]:
s = 'Hello world'
s[0:7]

In [ ]:
strr="Hello p"
strr.split(" ")

In [ ]:
ss = 'hello world'
ss.split('o')

In [ ]:
' '.join(ss)

Data structure

1.List
2.Sets
3.touple
4.dict

list- indexing
      slicing
      item assignment
      list are ordered
      dulicates are allowed
      modify - add,remove

set - indexing not allowed
      slicing not allowed
      item assignment not allowed
      set not ordered (sort)
      duplicattes not allowed
      modify -add,remove
      additional set
      
set - you need unique values and need intersection,union features 
dont want to remove duplicates valkues and need to

In [2]:
setr = {1,3,8,'hello','a'}
type(setr)

set

In [3]:
set1 = {0,9,1,2,3,5,7,8,1,0,1,0,7,9}
set1

{0, 1, 2, 3, 5, 7, 8, 9}

In [7]:
set1.add(70)
set1

{0, 1, 2, 3, 5, 7, 8, 9, 70}

In [8]:
set1

{0, 1, 2, 3, 5, 7, 8, 9, 70}

In [11]:
set1.remove(0)

KeyError: 0

In [12]:
set1

{1, 2, 3, 5, 7, 8, 9, 70}

In [13]:
set2 = [12,174,16]
set1.update(set2)

In [14]:
set1

{1, 2, 3, 5, 7, 8, 9, 12, 16, 70, 174}

In [16]:
A = {1,2,3,6,7}
B = {6,7,9,12,15}
A.intersection(B)

{6, 7}

In [17]:
s = A-B
s

{1, 2, 3}

In [18]:
ss = B-A
ss

{9, 12, 15}

In [19]:
ss[0]

TypeError: 'set' object is not subscriptable

In [1]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [2]:
b = "Hello, World!"
print(b[:5])

Hello

In [3]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [4]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [5]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [7]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [10]:
age = 22
txt = "My name is Sujon, I am " + str(age)
print(txt)

My name is Sujon, I am 22

In [13]:
age = 22
name = "Sujon"
txt = "My name is ",name,"and I am",str(age)
print(txt)

('My name is ', 'Sujon', 'and I am', '22')

In [14]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [15]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [17]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

In [18]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [19]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [20]:
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [21]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [22]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [23]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True