Loops in Python – table of contents:

    --> Loops in Python
    --> For loop in Python
    --> For loops in list
    --> Iterating a set using for loop
    --> Iterating a tuple using for loop
    --> Nested loops in Python
    --> While Loops in Python

# Loops in Python

        Loops are used when there is a need to do a task more than one time. For 
        example, printing numbers from 1 to 100 or a better example would be to
        sum all the elements in a list or an array. Sometimes there is a need to
        write more than 1 loop or loop inside a loop. In Python writing these loops
        is very simple and even the syntax is easy to understand. As we have seen, in
        Python we don’t need to declare a variable first before using it. The basic 
        looping starts with for loop. Let’s understand “for” loop.

# For loop in Python

        In a for loop, we have three things which needs to be mentioned. First one
        is the initial value of the variable on which the iteration needs to be done,
        the stopping condition and the last one is by how many steps you want to 
        increment or decrement the iterator.

        Let’s see the syntax of a “for” loop:

The basic syntax of the for loop in Python looks something similar to the one mentioned below.

for itarator_variable in sequence_name:
	Statements
	. . .
	Statements

In [ ]:
#print 1 to 100 number
for x in range(1,101):
    print(x)

In [ ]:
words = 'pneumonoultramicroscopicsilicovolcanoconiosis'
print("Total number of words: ",len(words))
for word in words:
    print(word,end=" ")

In [ ]:
anim = 'Anaconda'
for w in anim:
    print(w)

In [ ]:
country = "Bangladesh"
for w in range(len(country)):
    print(w)

In [ ]:
for w in country:
    print(w.upper(),end=" ")

In [ ]:
languages = ['Swift', 'Python', 'Go', 'JavaScript']
for language in languages:
    print(language)

In [ ]:
words= ["Apple", "Banana", "Car", "Dolphin" ]
for word in words:
    print(word)

In [ ]:
nums = (1, 2, 3, 4,10)
sum = 0
for n in nums:
    sum = sum + n
print(sum)

In [ ]:
list1 = [4.5, 2.0, 3.9, 4.00, 5.0, 4.2, 4.2, 4.30]
l = len(list1)
for i in range(l):
    print("[",i,":",list1[i]," ]")

In [ ]:
for x in 'Python':
    print(x)

In [ ]:
#using wihtout access value
languages = ['Swift', 'Python', 'Go']

for language in languages:
    print('Hello')
    print('Hi')

In [ ]:
arr = [1,23,545,62,451,6,51,1,5,51,651,5,152,42,51,5,654,9612,91,26,4,651,26,4]
print(len(arr))
ac=0
for _ in arr:
    ac += 1
    print(ac)

In [ ]:
X=[1,2,3,4,5,6]
for i in range(len(X)):
    print(i,X[i])

In [ ]:
X=[1,2,3,4,5,6]
for i,value in enumerate(X):
    print(i,value)

In [ ]:
X={'1':1,'2':2}

for key in X.keys():
    print(key)
for value in X.values():
    print(value)
for key,value in X.items():
    print(key,value)

# Example

1 : Print the first 10 natural numbers using for loop.

In [ ]:
for num in range(10):
    print(num,end=" ")

2 : Python program to print all the even numbers within the given range.

In [ ]:
for x in range(1,100):
    if x%2==0:
        print(x,end=" ")

3 : Python program to calculate the sum of all numbers from 1 to a given number.

In [ ]:
g = 20
s = 0
for i in range(1,g+1):  
    s = s+i
    print(i,s)
print("Total of [ 1","to",g,"] is: " ,s)

4: Python program to calculate the sum of all the odd numbers within the given range

In [ ]:
inputt = int(input("Enter number of range? "))
add = 0
for x in range(1,inputt+1):
   # print(x)
    if x%2==0:
        add=add+x
        print(x,end=" ")
print("\nTotal :",add)

5 : Python program to print a multiplication table of a given number

In [ ]:
num = int(input("Enter number:"))
for x in range(1,11):
    print(num,"x",x," = ",num * x)

6 : Python program to display numbers from a list using a for loop.

In [ ]:
llp = [10,1,3,45,6,2,8,1,20,1]
for x in range(len(llp)):

    print(x,":",llp[x])

 7: Python program to count the total number of digits in a number.

In [ ]:
 # Convert the number to a string
number = 1524
number_str = str(number)
c=0
for s in number_str:
    c+=1
print(c)

8 : Python program to check if the given string is a palindrome.

In [ ]:
sttr = input("Enter a number: ")
l =len(sttr)
for x in range(l):
    res=sttr[::-1]
if sttr == res:
    print(sttr,"is a palindrome number.")
else:
    print(sttr,"isn't a palindrome number.")

9: Python program that accepts a word from the user and reverses it.

In [ ]:
strr = input("Enter a word : ")
for word in strr:
    rev_word = strr[::-1]

print(rev_word)

10 : Python program to check if a given number is an Armstrong number

In [ ]:
get = input("Enter a word: ")
L = len(get)
ss=0
for x in range(L):
    cube = int(get[x])**L
    ss=ss + cube
    print(ss)
print(ss)

# Iterating over list ,tuple and dictionary

11 : Print list in reverse order using a loop

In [ ]:
lst = [10,55,10,4,30,50]
for x in lst:
    print(lst[::-1])
    break

12 : Display numbers from -10 to -1 using for loop

In [ ]:
res = []
for w in range(-10,0):
    res.append(w)
print(res)

13 : Use else block to display a message “Done” after successful execution of for loop

In [ ]:
for x in range(-10,0):
       print(x)
else:
    print("Done")

14: Write a program to display all prime numbers within a range

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage
number = 37
if is_prime(number):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

In [ ]:
kk = 2
ll= int(kk**0.5)
ll

15: Calculate the cube of all numbers from 1 to a given number

In [ ]:
 givn = 10
for x in range(1,givn+1):
    cube = x**3
    print(f"Current Number is : {x}  and the cube is {cube}")

16 : Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [ ]:
g = 5
series_sum = 0
term = 2
for i in range(1, g + 1):
    series_sum += term
    term = term * 10 + 2
    print(term)
    
print("Total",series_sum)

# Nested loop in python

1. Print a rectangle of stars with a width of 5 and a height of 3.

In [ ]:
height = 3
width = 5
for x in range(height):
    for z in range(width):
        print("*",end="")
    print()

2. Generate all possible two-digit numbers using the digits 1, 2, and 3.

In [ ]:
hh = [1,2,3]
for i in hh:
    for j in hh:
        number = i*10+j
        print(number)

3: Print the multiplication table for numbers 1 to 10.

In [ ]:
givn = 5
for x in range(1,11):
    for z in range(1,11):
        print(x*z,end="\t")
    print()

4: Calculate the sum of all elements in a 2D list.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum = 0
for row in matrix:
    for ele in row:
        sum+=ele
print(sum)

5: Display a pattern of numbers: 1, 12, 123, 1234, 12345.                          ****

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

6: Print a right triangle of asterisks with a height of 5.

In [ ]:
height = 5
for i in range(1, height + 1):
    print("*" * i)

7. Generate all possible combinations of the letters 'A', 'B', and 'C'.

In [ ]:
letters = ['A','B','C']
count = 0
for i in letters:
    for j in letters:
        for k in letters:
            combo = i + j + k
            count +=1
            print(combo)
print("Total possible combination : ",count)

8. Calculate the average of each student's grades in a class.

In [ ]:
student_grades = {
    "John": [85, 90, 92, 88, 95],
    "Sarah": [78, 82, 80, 85, 88],
    "Michael": [92, 88, 95, 90, 85]
}
for stdnt,marks in student_grades.items():
    avg = sum(marks)//len(stdnt)

9.Display a countdown from 10 to 1.

In [ ]:
import time

def countdown():
    for i in range(10, 0, -1):
        print(i)
        time.sleep(1)  # Pause for 1 second

    print("Countdown complete!")

countdown()

10.Print a pyramid of numbers: 1, 121, 12321, 1234321.

In [ ]:
def print_pyramid(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(j, end="")

        for j in range(i - 1, 0, -1):
            print(j, end="")

        print()

print_pyramid(4)

11.Calculate the sum of all odd numbers between 1 and 100.

In [ ]:
sum_of_odds = 0
for i in range(1,101):
    if i%2==1:
        sum_of_odds +=i
print("The sum of all odd numbers between 1 and 100 is:", sum_of_odds)

12.Display a pattern of letters: A, AB, ABC, ABCD, ABCDE.

In [ ]:
def print_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(chr(j + 64), end="")
        print()

# Call the function to print the pattern with 5 letters
print_pattern(5)

13.Print a square of numbers from 1 to 10.

In [ ]:
for x in range(1,11):
    square = x**2
    print(f"   {x} square is  {square}")

14.Generate all possible combinations of two dice rolls.

In [ ]:
for dice1 in range(1,7):
    for dice2 in range(1,7):
        print(f"({dice1} , {dice2})")

15.Calculate the product of each row in a 2D matrix.

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [12,1,36]
]
new = []
for row in matrix:
    product=1
    for ele in row:
        product*=ele
    new.append(product)

for i, p in enumerate(new):
    print(f"Product of Row {i+1}: {p}")

16.Display a right triangle of numbers: 1, 22, 333, 4444, 55555.

In [ ]:
for x in range(1,6):
   print(str(x)*x)

17.Generate all possible four-digit numbers using the digits 1, 2, and 3.

In [ ]:
digits = [1, 2]
count = 0

for thusands in digits:
    for hundred in digits:
        for tens in digits:
            for unit in digits:
                count+=1
                number = thusands*1000+hundred*100+tens*10+unit
                print(number)

print("Total count:", count)

18.Calculate the sum of all even numbers between 1 and 100.

In [ ]:
x =0
xx=0
for num in range(1,101):
    if num%2==0:
        x+=num
        xx+=1

print("total number:",xx)
print(x)

19.Calculate the product of all elements in a jagged array.

In [ ]:
arr = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
product = 1
for sublist in arr:
    for element in sublist:
        product *= element

    print(product)

print("Product of all elements in the array:", product)

In [ ]:
20.Generate all possible nine-digit numbers using the digits 0 to 7.

In [ ]:
digits = [0, 1, 2, 3, 4, 5, 6, 7]
count = 0

for digit1 in digits:
    for digit2 in digits:
        for digit3 in digits:
            for digit4 in digits:
                for digit5 in digits:
                    for digit6 in digits:
                        for digit7 in digits:
                            for digit8 in digits:
                                for digit9 in digits:
                                    number = digit1 * 100000000 + digit2 * 10000000 + digit3 * 1000000 + digit4 * 100000 + digit5 * 10000 + digit6 * 1000 + digit7 * 100 + digit8 * 10 + digit9
                                    print(number)
                                    count += 1

print("Total count:", count)

# Pattern

1.
* 
* * 
* * * 
* * * * 
* * * * *

In [13]:
for i in range(6):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

2.
* * * * * 
* * * * 
* * * 
* * 
*

In [14]:
for i in range(6,0,-1):
    print("* " * i)

* * * * * *
* * * * *
* * * *
* * *
* *
*

3.
    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [19]:
for i in range(1,6):
    print(' '*(5-i)+'* '*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [22]:
for i in range(5,0,-1):
    print(' '*(5-i)+'* '*i)

* * * * *
 * * * *
  * * *
   * *
    *

In [23]:
for i in range(1, 6):
    print(' ' * (5 - i) + str(i) * i)

    1
   22
  333
 4444
55555

In [24]:
for i in range(5, 0, -1):
    print(' ' * (5 - i) + str(i) * i)

55555
 4444
  333
   22
    1

In [27]:
for x in range(1,6):
    print(' '*(5-x)+ '*'*x)

    *
   **
  ***
 ****
*****

In [28]:
for x in range(5,0,-1):
    print(' '*(5-x)+ '*'*x)

*****
 ****
  ***
   **
    *

In [29]:
for i in range(1, 6):
    print(' ' * (5 - i) + '* ' * i + ' ' * (5 - i))

    *
   * *
  * * *
 * * * *
* * * * *

In [30]:
for i in range(5, 0, -1):
    print(' ' * (5 - i) + '* ' * i + ' ' * (5 - i))

* * * * *
 * * * *
  * * *
   * *
    *

In [31]:
for i in range(1, 10, 2):
    print(' ' * ((9 - i) // 2) + '* ' * i + ' ' * ((9 - i) // 2))

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

In [32]:
for i in range(9, 0, -2):
    print(' ' * ((9 - i) // 2) + '* ' * i + ' ' * ((9 - i) // 2))

* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [33]:
for i in range(5, 0, -1):
    print('* ' * (6 - i) + ' ' * (2 * i - 2) + '* ' * (6 - i))

*         *
* *       * *
* * *     * * *
* * * *   * * * *
* * * * * * * * * *

In [34]:
for i in range(1, 10, 2):
    print(' ' * ((9 - i) // 2) + str(i) * i + ' ' * ((9 - i) // 2))

    1
   333
  55555
 7777777
999999999

In [35]:
for i in range(9, 0, -2):
    print(' ' * ((9 - i) // 2) + str(i) * i + ' ' * ((9 - i) // 2))

999999999
 7777777
  55555
   333
    1